Repository handsontable/hyperformula, pull requests merged in 2024-04, with the labels that each got.

#1398 Add generic context option for custom function resolution
  CHANGELOG.md
  src/Config.ts
  test/config.spec.ts
  test/custom-functions.spec.ts
Labels: CLA signed

#1387 Refactor README and add a mortgage calculator demo
  README.md
  docs/index.md
  test/interpreter/function-pmt.spec.ts
Labels: Docs, Chore

#1404 Convert angular demo to stackblitz to fix no-automatic-preview codesandbox issue
  docs/guide/integration-with-angular.md
Labels: Bug, Docs
